.ui.auth-form {
  width: 500px;
  border-radius: 50px;
  margin: 0 auto;
  transform: translateY(-40%);
  background: rgb(247, 247, 247);
  padding: 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.auth-form.ui.form .fields {
  display: block;
}

.auth-form label {
  margin: 1em 0 0.5em 0 !important;
}

@media (max-width: 500px) {
  .ui.auth-form {
    width: 95vw;
    margin: auto;
    border-radius: 10px;
  }
}
