.menu-btn i {
  color: white;
  background-color: #28b9b5;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.75;
  font-size: 1.25em;
}
@media (max-width: 769px) {
  .ui.secondary.pointing.menu {
    max-width: 475px;
    margin: 0 auto;
  }
}
