.settings-menu {
  margin-bottom: 900px;
  max-width: 900px;
  margin: 50px auto;
}

@media (max-width: 770px) {
  .settings-menu {
    margin: 10px auto;
  }
}

.settings-menu input[type="number"]::-webkit-inner-spin-button,
.settings-menu input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: block;
  margin: 0;
}
