.charts {
  display: grid !important;
  grid-template-columns: 520px 520px;
  grid-column-gap: 30px;
  justify-content: center;
  overflow: hidden;
}
.charts h2 {
  margin: 20px auto 5px auto;
}

.charts__left {
  padding: 0 20% 0 0;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.chart__right {
  z-index: 0;
}
@media (max-width: 1200px) {
  .charts {
    grid-template-columns: 450px 450px;
    grid-column-gap: 38px;
  }
  .charts__left {
    padding: 0;
  }
}
@media (max-width: 1000px) {
  .charts {
    grid-template-columns: 100%;
    justify-content: center;
    max-width: 500px;
    margin: auto;
  }

  .charts__left {
    padding: 0 0;
  }
}
