.budget-form__container {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
  margin: 0;
  display: flex;
}

.budget-form {
  transform: translateY(14%);
  max-width: 800px;
}

.budget-form__container .ui.form .inline.fields .field > label.checkbox-label {
  color: rgba(128, 128, 128, 0.685);
  margin-right: 0;
}

.budget-form__container .ui.form .inline.fields {
  display: flex;
  justify-content: center;
  margin: 0 auto 10px auto;
}

.budget-form__container .ui.form .inline.fields > label {
  display: none;
}

.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: #28b9b5;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__btn:focus {
  outline: none;
}

.ui.form .input-item:focus {
  border-color: #28b9b5 !important;
}

.ui.form .input-item__red:focus {
  border-color: #ff5049 !important;
}

.x-icon {
  position: absolute;
  top: 11px;
  right: 0;
  font-size: 1.75em;
  color: rgb(128, 128, 128);
}

@media (max-width: 769px) {
  .budget-form__container {
    display: none;
  }
  .mobile-form .budget-form__container {
    display: block;
  }
  .mobile-form .checkbox {
    max-width: 50px;
  }
}

.budget-form__container input[type="number"]::-webkit-inner-spin-button,
.budget-form__container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
