.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1000px;
  margin: 60px auto;
}

.income,
.expences {
  margin: 0 auto;
  width: 100%;
  max-width: 475px;
}

.inc-header,
.income .item__value {
  color: #28b9b5;
}

.exp-header,
.expences .item__value {
  color: #ff5049;
}

.overview h3 {
  margin-top: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding: 13px;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
  background-color: #f7f7f7;
}

@media (max-width: 1000px) {
  .overview {
    grid-template-columns: 1fr;
  }

  .overview h3 {
    text-align: center;
  }
}
