@import url("https://fonts.googleapis.com/css?family=Righteous");

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1000px;
  margin: 60px auto;
}

.income,
.expenses {
  margin: 0 auto;
  width: 100%;
  max-width: 475px;
  min-height: 400px;
  background-color: rgba(237, 237, 237, 0.5);
  padding: 30px;
  border-radius: 40px;
}

.empty {
  font-family: "Righteous";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 128, 128, 0.25);
  font-size: 4.8em;
  font-weight: 1000;
  width: 100%;
  min-height: 250px;
}

.inc-header__div,
.exp-header__div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
  margin-bottom: 20px;
}

.inc-header__div {
  color: #28b9b5;
}

.exp-header__div {
  color: #ff5049;
}

.overview h3 {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .empty {
    font-size: 3em;
  }
}

@media (max-width: 1000px) {
  .overview {
    grid-template-columns: 1fr;
  }

  .income,
  .expenses {
    min-height: 150px;
  }

  .empty {
    min-height: 150px;
  }
}

@media (max-width: 330px) {
  .empty {
    font-size: 2em;
    min-height: 100px;
  }
}
