.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1000px;
  margin: 60px auto;
}

.income,
.expenses {
  margin: 0 auto;
  width: 100%;
  max-width: 475px;
}

.inc-header {
  color: #28b9b5;
}

.exp-header {
  color: #ff5049;
}

.overview h3 {
  margin-top: 0;
}

@media (max-width: 1000px) {
  .overview {
    grid-template-columns: 1fr;
  }

  .overview h3 {
    text-align: center;
  }
}
