.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1000px;
  margin: 60px auto;
}

.overview__section-header {
  display: flex;
  flex-direction: row;
}

.inc-header {
  color: #28b9b5;
}

.exp-header {
  color: #ff5049;
}

.item {
  margin: auto;
  display: flex;
  max-width: 475px;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
  padding: 13px;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
  background-color: #f7f7f7;
}

@media (max-width: 1000px) {
  .overview {
    grid-template-columns: 1fr;
  }

  .overview h3 {
    text-align: center;
  }
}
