.chart__right {
  margin-top: 66px;
  position: relative;
  width: 200%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 250ms ease-out;
  margin-bottom: 70px;
}

/* Animations */
.details-active {
  transform: translateX(-50%);
}
